@using Ex___Training_course_management_system__MVC.Models
@model Course

<link rel="stylesheet" href="~/css/Course-update.css">


<h1>Edit Course</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <input asp-for="Name" required />
    </div>
    <div>
        <input asp-for="Description" required />
    </div>
    <div>
        <input asp-for="StartDate" type="date" required />
    </div>
    <div>
        <input asp-for="EndDate" type="date" required />
    </div>
    <div>
        <input asp-for="DurationHours" type="number" required />
    </div>
    <button type="submit">Save Changes</button>
</form>
