<link rel="stylesheet" href="~/css/Home-Index.css">

<body>
    <div class="welcome-container">
        <h1>Welcome to the Training Course Management System</h1>
        <p>Discover the available courses now!</p>
        <hr class="divider" />

        <a asp-controller="Course" asp-action="Index" class="btn">View Available Courses</a>
    </div>
</body>
